<div id="title">Ingredients</div>

<div><%= link_to "Recipes", recipes_path %></div>

		<div class="row">
			<class="small-10 large-10">
				<div class="panel">
					<ul>
						<% @components.each do |component| %>
							<div><li><%= link_to component.name, component %></li></div>
						<% end %>
					</ul>
				</div>	
			</div> 
		</div>