

		<div class="row">
			<div id="heading">
				Ingredients
			</div>
				<div class="small-10 large-10">
					<div class="panel">
						<ul>
							<% @components.each do |component| %>
								<div id="index"><li><%= link_to component.name, component %></li></div>
							<% end %>
						</ul>
					</div>	
				</div> 
			</div>