<div class="row">
	<div class="small-12 large-12"
		<div id="heading">
			Ingredient: <%= @component.name %>
		</div>

		<div class="panel">
			Description: <%= @component.description %>
		</div>

		<div>
			<%= link_to "ingredients", components_path %>
		</div>
	</div>
</div>