<div class="row">
	<div class="small-6 large-6 columns">
		<div id="heading">
			all recipes
		</div>
	</div>

	<div class="small-6 large-6 columns">
		<div id="heading">
			<%= link_to "New Recipe", new_recipe_path %>
		</div>
	</div>
</div>

		<div class="row">
			<div class="small-12 large-12">
				<div class="panel">
					<ul>
						<% @recipes.each do |recipe| %>
							<div id="index">
								<li><%= link_to recipe.recipe_name, recipe %></li>
							</div>
						<% end %>
					</ul>
				</div> 
			</div>
		</div>