<div class="row">
	<div class="small-12 large-12 columns">
		<div id="heading">
			Edit ingredient
		</div>
	</div>
</div>

<div class="row" id="add_ingredient_panel">
  <div class="small-12 large-12 columns">
    <div class="panel">  
       <%= render "/ingredients/form" %>
    </div>
  </div>
<div>

<div class="row">
	<div class="small-12 large-12 columns">
		<%= link_to "Recipe", recipe_path(@ingredient.recipe) %>
	</div>
</div>