<div class="row">
	<div class="small-10 large-10 columns">
		<div id="heading">
			<%= @ingredient.name %>
		</div>
	</div>
</div>

	<div class="row">
		<div class="panel">
			<div class="small-10 large-10 columns">
				<div><%= @ingredient.description %></div>
			</div>
		</div>
	</div>
