<div class="row" id="heading">
		<div class="small-12 large-12 columns"> 
			Edit note
		</div>
	</div>


<div row="row">
	<div class="small-6 large-6 columns">
		<div class="panel">
			<%= render "form" %>
		</div>
	</div>


	<div class="small-6 large-6 columns">
		<div class="panel">
			<% @recipe.process_steps.each do |pstep| %>
				<%= pstep.step.step_name %>
				<%= pstep.step_notes %>
			<% end %>
		</div>
	</div>
</div>

	<div class="small-6 large-6 columns">
		<div class="panel">
			<%= link_to "edit recipe", edit_recipe_path(@recipe) %>
		</div>
	</div>



